PORT=5000
MONGO_URI=mongodb+srv://rohanbhattacharya173:ApjMbsJlGQZxW93c@cluster0.i0y4he4.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=your_jwt_secret
CLOUDINARY_CLOUD_NAME=dathmq3n8
CLOUDINARY_API_KEY=716791278787424
CLOUDINARY_API_SECRET=jWopH6nzO4U9qQ-KnD1a5M5IP5M
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=rohanbhattacharya173@gmail.com
MAIL_PASS=rohanbhattacharya173@gmail.com 